header{
    background-color: green;
    border-radius: 20px;
    margin-bottom: 15px;  
  }
  
  h1{
    font-weight: 600;
    font-size: 50px;
    margin: 0 10px;
    margin-bottom: 13px;
  
  }
  
  .immagineIdro{
    width: 400px;
    height: auto;
    margin: 10px 0px;
  }
  
  .container{
    margin: 0 auto;
    width: 100%;
  }
  
  a{
    text-decoration: none;
    font-weight: 600;
  }
  .centratutto{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .margine{
    padding: 10px 50px;
  }
  
  *{
    box-sizing: border-box;
  }